<div id="searchbar_wrapper" >
  <div id="searchbar" class='flex-n' >
      <form action="" id='movie_search'>
        <input type="text" placeholder='search movies' id='search_input'>
      </form>
      <ul id="results" class="list-inline"></ul>
  </div>
</div>
