<%= link_to 'Your Movies', movies_path %>

<table>
  <thead>
  <th>name</th>
  <th>found on</th>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= Time.now.utc %></td>
      </tr>
    <th>
    <% end %>
  </tbody>
</table>
