<div class="main_container full_height">
  <div class="wrapper">
      <table>
        <thead>
          <tr>
            <th>name</th>
            <th>main</th>
            <th>marked</th>
          </tr>
        </thead>
        <tbody>
          <% @torrents.each do |torrent| %>
            <tr>
              <td class='left'><a href="<%= torrent.url %>"><%= torrent.title %></a></td>
              <td></td>
              <td></td>
              <%# <td><%= Time.now.utc %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
