#searchbar_wrapper {
  width: var(--left-side);
  height: var(--top-height);

  #searchbar {
    position: relative;
    width: 100%;
    height: inherit;
  }

  #searchbar_inner {
    position: relative;
    height: 2.5rem;
    width: 65%;
  }

  #results {
    position: absolute;
    left: 3rem;
    list-style: none;
    z-index: 10;
    font-size: 1.2rem;
    font-weight: bold;
    a {
      text-decoration: none;
      outline: none;
      &:hover,
      &:focus li {
        color: var(--highlight-color);
        text-decoration: underline;
        transform: scale(1.1);
        outline: none;
      }
    }
    li {
      color: var(--primary-font-color);
      transition: all 150ms ease-in-out;
    }
  }

  #movie_search {
    position: relative;
    height: inherit;
    width: 100%;
    border-radius: 25px;
  }

  #search_input {
    width: 100%;
    height: inherit;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 1rem;
    padding-left: 3rem;

    color: var(--primary-font-color);
    background-color: rgba(var(--primary-bg-color), 1);
  }

  input:focus {
    outline: none;
  }

  #magnifying_glass {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--primary-font-color);
    &:focus {
      height: 3rem;
      width: 3rem;
    }
  }
}
