#sidebar {
  position: absolute;
  background-color: var(--secondary-bg-color);
  width: var(--right-side);
  height: 100%;
  right: 0;
  top: 0;
}

.sidebar_head {
  background-color: rgba(var(--primary-bg-color), 1);
  height: var(--top-height);
  padding: 0 1rem;

  // .head_profile_pic {
  //   // width: 30%;
  // }

  .head_user {
    width: 50%;
    align-items: flex-start;

    h2 {
      font-size: 2rem;
    }
  }

  .head_icons {
    width: 20%;

    svg {
      font-size: 1.5rem;
      color: black;
      transition: all 200ms ease-in-out;
      &:hover {
        transform: scale(1.1);
        color: var(--highlight-color);
      }
    }
  }
  .head_spacing {
    height: 55%;
    justify-content: space-between;
  }
}

.sidebar_content {
  height: calc(100% - var(--top-height));
}

.sidebar_title {
  margin: 1rem 1rem;
  align-self: flex-start;
}

.scroll {
  height: 90%;
  overflow-y: auto;
  padding: 1rem 1rem;
  width: 100%;
}

.sidebar_movie_block {
  align-content: flex-start;
  align-self: flex-start;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  position: relative;

  img {
    height: 5rem;
  }

  .movie_content {
    margin-left: 1rem;

    h3 {
      margin-bottom: 0.5rem;
    }
  }

  &:hover {
    .movie_hover {
      background-color: rgba(var(--primary-bg-color), 0.9);
      visibility: visible;
      opacity: 100% !important;
    }
  }

  .movie_hover {
    position: absolute;
    visibility: hidden;
    justify-content: space-around !important;
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out;

    svg {
      font-size: 2rem;
      color: var(--primary-font-color);
      transition: all 200ms ease-in-out;
      &:hover {
        cursor: pointer;
        color: var(--highlight-color);
        transform: scale(1.2);
      }
    }
  }
}
