// external
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "authentication/_authentication";
@import "homepage/_table";
@import "bars/_sidebar";
@import "bars/_search";
@import "custom/_custom";
@import "pages/_moviesSearch";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NimbusSanLRegular", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}

body {
  color: var(--primary-font-color);
  background-color: #f7f7f7;
}

:root,
[data-theme="default"] {
  --primary-bg-color: 32, 32, 32;

  --secondary-bg-color: #2b2b2b;

  --primary-font-color: #e1e1e1;
  --secondary-font-color: #1f1e1e;

  --highlight-color: #f1d546;
  --highlight-color-hover: #c2a202;

  --top-height: 7rem;
  --left-side: 70%;
  --right-side: 25%;
}

.movie_background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url("looper.jpg") no-repeat center center fixed;
  background-color: #cac8d5;
  background-size: cover;
  height: 100vh;
}

.notice,
.alert {
  position: absolute;
  bottom: 0;
  right: 0;
}
