.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.left_wrapper {
  flex: 1 auto;
  width: 75%;

  .top_left {
    padding: 2rem 0;
  }
}

.right_wrapper {
  flex: 1 auto;
  width: 25%;
  padding-left: 3rem;
  #movie_search_wrapper {
    input {
      width: 100%;
      height: 2rem;
    }

    li {
      word-break: normal;
      white-space: normal;

      &:hover {
        background-color: lightpink;
        cursor: pointer;
      }
    }
  }
}
